doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
     h1 #{message}
     h1= message
     span= name
     ul 
      each v in [1,2,3,5]
        li=v
    ul 
      each v in userList
        li=v
    ul 
      each v in userDbData
        h1= v.name + "--" +v.email